*,
*::before,
*::after {
    box-sizing: border-box;
}

.contextMenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    padding: 3px;
}
.contextMenu *{
    font-family: Arial;
    font-size: 12px;
    white-space: pre;
    line-height: 1;
    vertical-align: middle;
}

/* Each of the items in the list */
.contextMenu li {
    /*padding: 8px 12px;*/
    padding-right: 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
    align-items: center;

    display: flex;
}

.contextMenu .icon_empty,
.contextMenu .icon {
    margin-right: 4px;
}

.contextMenu li:hover:not(.disabled) {
    background-color: #DEF;
}

.contextMenu li.disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.align_row {
    display: flex;
    flex-direction: row;
}

.align_column {
    display: flex;
    flex-direction: column;
}

.icon_loading {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;

    width: 14px!important;
    height: 14px!important;
}

.avatar_loading {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;

    width: 14px!important;
    height: 14px!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.select_info {
    font-family: Arial;
    font-size: 12px;
    /*white-space: pre;*/
    line-height: 1;
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    min-height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;

    border: grey solid;
    border-width: 0px 0px 1px 0px;

    background-color: lightgreen;
}

/* Modal Body */
.modal-body:not(:empty) {padding: 2px 16px;}

/* Modal Footer */
.modal-footer:not(:empty) {
    padding: 2px 16px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 4px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content:not(:empty) {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid #888;
    width: auto;
    max-width: 90%;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2), 2px 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalFlyIn;
    animation-duration: 0.4s;
    top: 10%;

    left: 0;
    right: 0;
}

/* Add Animation */
@keyframes modalFlyIn {
    from {top: 0%; opacity: 0}
    to {top: 10%; opacity: 1}
}

.channel_perm_tbl input {
    width: 30px;
}

.channel_perm_tbl .key {
    width: 120px;
}

.channel_general_properties .value {
    width: 100%;
}

.main_container {
    padding: 4px;
    border: lightgray solid;
    border-width: 2px;
    background-color: white;
}

html {
    background-color: gray;
}

fieldset {
    border: unset;
    display: unset;
}

.modal-head-error {
    background: darkred;

    font-family: Arial;
    font-size: 15px;
    font-weight: bold;

    vertical-align: middle;
}

.modal-button-group {

}

.modal-button-group button {
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
}

.modal-button-group button:last-of-type {
    margin-right: 0px;
}

.invalid_input {
    border-color: red;
}

.GroupBox {
    border: gray solid;
    border-width: 2px;
    border-radius: 0px 6px 6px 6px;
}

.vad_vad_bar {
    position: relative;
    width: 100%;
    height: 20px;
}

.vad_vad_bar .vad_vad_bar_filler {
    background-color: green;
    width: 50%;
    height: 100%;
}

/* The slider itself */
.vad_vad_slider {
    margin: 0px;
    background-color: gray;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.vad_vad_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 2px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.vad_vad_slider::-moz-range-thumb {
    width: 2px; /* Set a specific slider handle width */
    height: 100%; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

code {
    background-color: lightgray;
    padding: 2px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    background-color: lightgray;

    display: flex;
}

footer .container {
    width: 100%;
    display: flex;
    position: relative;
    vertical-align: center;
    justify-content: center;
}