.rendererContainer {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    min-height: 200px;
    min-width: 200px;
}

.container {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    min-height: 200px;
}

.frameContainer {
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    min-width: 350px;
    min-height: 16em;

    display: flex;
    flex-direction: column;

    background: var(--side-background);
}