[submodule "asm/libraries/opus"]
	path = asm/libraries/opus
	url = https://github.com/xiph/opus.git
	branch = 1.1.2
[submodule "vendor/bbcode"]
	path = vendor/bbcode
	url = https://github.com/WolverinDEV/Extendible-BBCode-Parser.git
