asm/generated/
node_modules/
auth/certs/
auth/js/auth.js.map

.sass-cache/
.idea/

vendor/emoji-picker/**/*.js
vendor/emoji-picker/**/*.js.map

TeaSpeakUI.tar.gz
TeaWeb-*.zip

todo.txt

tmp/

file.js
file.js.map