generated/
node_modules/
auth/certs/
auth/js/auth.js.map
package-lock.json

.sass-cache/
.idea/

vendor/emoji-picker/**/*.js
vendor/emoji-picker/**/*.js.map

.package-lock.json

TeaSpeakUI.tar.gz
TeaWeb-*.zip

todo.txt