[submodule "vendor/xbbcode"]
	path = vendor/xbbcode
	url = https://github.com/WolverinDEV/XBBCode.git
[submodule "web/native-codec/libraries/opus"]
	path = web/native-codec/libraries/opus
	url = https://github.com/xiph/opus.git
