html, body {
	overflow-y: hidden;

    height: 100%;
    width: 100%;
    position: fixed;

    //min-height: 250px;
    //min-width: 250px;
}

.app-container {
	display: flex;
	justify-content: stretch;
	position: absolute;

    right: 10px;
    left: 10px;
    bottom: 40px;
    top: 10px;

    transition: all .5s linear;
    
	.app {
		width: 100%;
		height: 100%;
		margin: 0;

		display: flex; flex-direction: column; resize: both;
	}
}

$small_device: 650px;
@media only screen and (max-width: $small_device) {
	.app-container {
		bottom: 25px;
	}
}