html, body {
	overflow-y: hidden;

    height: 100%;
    width: 100%;
    position: fixed;
}

.app-container {
	display: flex;
	justify-content: stretch;
	position: absolute;

	top: 1.5em!important;
    bottom: 0;

    transition: all .5s linear;
    
	.app {
		width: 100%;
		height: 100%;
		margin: 0;

		display: flex; flex-direction: column; resize: both;
	}
}

$small_device: 650px;
@media only screen and (max-width: $small_device) {
	html, body {
		padding: 0!important;
	}

	.app-container {
		bottom: 0;
	}
}