.modal .modal-connect {
	margin-top: 5px;

	> div:not(:first-of-type) {
		margin-top: 5px;
	}

	.profile-select-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		select {
			width: 150px;
		}
	}

	.profile-invalid {
		display: flex;
		flex-direction: column;
		justify-content: start;

		> div {
			display: inline-flex;
			flex-direction: row;
		}
	}
}