.select_info_table { }
.select_info_table tr { }
.select_info_table tr td { }

.select_info_table tr td:nth-child(1) {
    font-weight: bold;
    padding-right: 5px;
    min-width: 20%;
}

.select_server {
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;

	.button-update {
		width: 100%;
		height: 23px;

		&:disabled {
			color: red;
			pointer-events: none;
		}
		&:not(:disabled) {
			color: green;
		}
	}
}