@import "../../../../css/static/mixin";

/* FIXME: Remove this wired import */
:global {
    @import "../../../../css/static/general";
    @import "../../../../css/static/modal";
}

html, body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background: #212529;
}

.container {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    max-height: 100vh;
    max-width: 100vw;

    overflow: hidden;
}

.container {
    margin: 0!important;

    height: 100% !important;
    width: 100% !important;

    .header {
        -webkit-user-select: none;
        -webkit-app-region: drag;

        .title {
            --stay-alive: none;
        }
    }

    .body {
        overflow: auto;
        @include chat-scrollbar();
    }
}