.arrow {
    display: inline-block;
    border: solid black;
    //border-width: 0 3px 3px 0;
    //padding: 3px;
    //height: 10px;

    border-width: 0 .2em .2em 0;
    padding: .21em;
    height: .5em;
    width: .5em;

    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}