.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: red;

    height: 100%;
    width: 100%;

    .text {
        align-items: center;
        text-align: center;

        font-weight: bold;
        color: white;
    }
}