@import "../../../css/static/mixin";

/* code hightliting */
.inlineCode, .code {
    display: block;
    margin: 3px;

    font-size: 80%;
    border-radius: .2em;
    font-family: Monaco, Menlo, Consolas, "Roboto Mono", "Andale Mono", "Ubuntu Mono", monospace;
    box-decoration-break: clone;

    &.inlineCode {
        display: inline-block;

        > .hljs {
            padding: 0 .25em!important;
        }

        white-space: pre-wrap;
        margin: 0 0 -0.1em;
        vertical-align: bottom;
    }
    &.code {
        word-wrap: normal;
    }

    code {
        @include chat-scrollbar-horizontal();
    }
}

/* fix tailing new line after code blocks */
.code + br {
    display: none;
}