#chat {
    font-family: Arial;
    font-size: 12px;
    /*white-space: pre;*/
    line-height: 1;
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat div {
    vertical-align: middle;
}

#chat .messages {
    border-color: #6f6f6f;
    border-radius: 2px 2px 2px 0px;
    border-style: solid;
    overflow-y: auto;
    height: calc(100% - 2 * 18px);
}

#chat .message_box {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    height: auto;
}

#chat .message {
    width: 100%;
    display: inline-flex;
}

#chat .message *{
    display: inline-flex;
}

#chat .chats {
    max-width: 100%;
    /*height: 24px;*/
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: -1px;
    display: flex;
    user-select: none;
}

#chat .chat {
    background: #5f5f5f5f;
    display: inline-block;
    border: #6f6f6f;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px 0px 2px 2px;
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 2px;
    cursor: pointer;
}

#chat .active {
    background: #11111111;
}

#chat a {
    vertical-align: middle;
}

#chat .btn_close {
    float: none;
    margin-right: -5px;
    margin-left: 8px;
}

#chat .btn_close:hover,
#chat .btn_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#chat .input {
    width: 100%;
    margin-top: 2px;
    display: flex;
    height: auto;
    position: relative;
}

#chat .input .input_box {
    width: 100%;

    display:inline-block;
    border: solid 1px #000;
    height: 18px;
    min-height: 16px;
    max-height: 80px;
    overflow-y: auto;
}