.icon_empty {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    flex-shrink: 0;
    flex-grow: 0;

    background: url('../../../img/client_icon_sprite.svg'), url('../../img/client_icon_sprite.svg') no-repeat;
}

/*  Icons x16 */
.icon.client-d_sound {
    background-position: 0 0;
}
.icon.client-d_sound_me {
    background-position: -32px 0;
}
.icon.client-d_sound_user {
    background-position: -64px 0;
}
.icon.client-about {
    background-position: -96px 0;
}
.icon.client-activate_microphone {
    background-position: -128px 0;
}
.icon.client-add {
    background-position: -160px 0;
}
.icon.client-add_foe {
    background-position: -192px 0;
}
.icon.client-add_folder {
    background-position: -224px 0;
}
.icon.client-add_friend {
    background-position: -256px 0;
}
.icon.client-addon {
    background-position: -288px 0;
}
.icon.client-addon-collection {
    background-position: -320px 0;
}
.icon.client-apply {
    background-position: -352px 0;
}
.icon.client-arrow_down {
    background-position: -384px 0;
}
.icon.client-arrow_left {
    background-position: -416px 0;
}
.icon.client-arrow_right {
    background-position: -448px 0;
}
.icon.client-arrow_up {
    background-position: -480px 0;
}
.icon.client-away {
    background-position: 0 -32px;
}
.icon.client-ban_client {
    background-position: -32px -32px;
}
.icon.client-ban_list {
    background-position: -64px -32px;
}
.icon.client-bookmark_add {
    background-position: -96px -32px;
}
.icon.client-bookmark_add_folder {
    background-position: -128px -32px;
}
.icon.client-bookmark_duplicate {
    background-position: -160px -32px;
}
.icon.client-bookmark_manager {
    background-position: -192px -32px;
}
.icon.client-bookmark_remove {
    background-position: -224px -32px;
}
.icon.client-broken_image {
    background-position: -256px -32px;
}
.icon.client-browse-addon-online {
    background-position: -288px -32px;
}
.icon.client-capture {
    background-position: -320px -32px;
}
.icon.client-changelog {
    background-position: -352px -32px;
}
.icon.client-change_nickname {
    background-position: -384px -32px;
}
.icon.client-channel_chat {
    background-position: -416px -32px;
}
.icon.client-channel_collapse_all {
    background-position: -448px -32px;
}
.icon.client-channel_commander {
    background-position: -480px -32px;
}
.icon.client-channel_create {
    background-position: 0 -64px;
}
.icon.client-channel_create_sub {
    background-position: -32px -64px;
}
.icon.client-channel_default {
    background-position: -64px -64px;
}
.icon.client-channel_delete {
    background-position: -96px -64px;
}
.icon.client-channel_edit {
    background-position: -128px -64px;
}
.icon.client-channel_expand_all {
    background-position: -160px -64px;
}
.icon.client-channel_green {
    background-position: -192px -64px;
}
.icon.client-channel_green_subscribed {
    background-position: -224px -64px;
}
.icon.client-channel_private {
    background-position: -256px -64px;
}
.icon.client-channel_red {
    background-position: -288px -64px;
}
.icon.client-channel_red_subscribed {
    background-position: -320px -64px;
}
.icon.client-channel_switch {
    background-position: -352px -64px;
}
.icon.client-channel_unsubscribed {
    background-position: -384px -64px;
}
.icon.client-channel_yellow {
    background-position: -416px -64px;
}
.icon.client-channel_yellow_subscribed {
    background-position: -448px -64px;
}
.icon.client-check_update {
    background-position: -480px -64px;
}
.icon.client-client_hide {
    background-position: 0 -96px;
}
.icon.client-client_show {
    background-position: -32px -96px;
}
.icon.client-close_button {
    background-position: -64px -96px;
}
.icon.client-complaint_list {
    background-position: -96px -96px;
}
.icon.client-conflict-icon {
    background-position: -128px -96px;
}
.icon.client-connect {
    background-position: -160px -96px;
}
.icon.client-contact {
    background-position: -192px -96px;
}
.icon.client-copy {
    background-position: -224px -96px;
}
.icon.client-copy_url {
    background-position: -256px -96px;
}
.icon.client-default {
    background-position: -288px -96px;
}
.icon.client-default_for_all_bookmarks {
    background-position: -320px -96px;
}
.icon.client-delete {
    background-position: -352px -96px;
}
.icon.client-delete_avatar {
    background-position: -384px -96px;
}
.icon.client-disconnect {
    background-position: -416px -96px;
}
.icon.client-down {
    background-position: -448px -96px;
}
.icon.client-download {
    background-position: -480px -96px;
}
.icon.client-edit {
    background-position: 0 -128px;
}
.icon.client-edit_friend_foe_status {
    background-position: -32px -128px;
}
.icon.client-emoticon {
    background-position: -64px -128px;
}
.icon.client-error {
    background-position: -96px -128px;
}
.icon.client-file_home {
    background-position: -128px -128px;
}
.icon.client-file_refresh {
    background-position: -160px -128px;
}
.icon.client-filetransfer {
    background-position: -192px -128px;
}
.icon.client-find {
    background-position: -224px -128px;
}
.icon.client-folder {
    background-position: -256px -128px;
}
.icon.client-folder_up {
    background-position: -288px -128px;
}
.icon.client-group_100 {
    background-position: -320px -128px;
}
.icon.client-group_200 {
    background-position: -352px -128px;
}
.icon.client-group_300 {
    background-position: -384px -128px;
}
.icon.client-group_500 {
    background-position: -416px -128px;
}
.icon.client-group_600 {
    background-position: -448px -128px;
}
.icon.client-guisetup {
    background-position: -480px -128px;
}
.icon.client-hardware_input_muted {
    background-position: 0 -160px;
}
.icon.client-hardware_output_muted {
    background-position: -32px -160px;
}
.icon.client-hoster_button {
    background-position: -64px -160px;
}
.icon.client-hotkeys {
    background-position: -96px -160px;
}
.icon.client-icon-pack {
    background-position: -128px -160px;
}
.icon.client-iconsview {
    background-position: -160px -160px;
}
.icon.client-iconviewer {
    background-position: -192px -160px;
}
.icon.client-identity_default {
    background-position: -224px -160px;
}
.icon.client-identity_export {
    background-position: -256px -160px;
}
.icon.client-identity_import {
    background-position: -288px -160px;
}
.icon.client-identity_manager {
    background-position: -320px -160px;
}
.icon.client-info {
    background-position: -352px -160px;
}
.icon.client-input_muted {
    background-position: -384px -160px;
}
.icon.client-input_muted_local {
    background-position: -416px -160px;
}
.icon.client-invite_buddy {
    background-position: -448px -160px;
}
.icon.client-is_talker {
    background-position: -480px -160px;
}
.icon.client-kick_channel {
    background-position: 0 -192px;
}
.icon.client-kick_server {
    background-position: -32px -192px;
}
.icon.client-listview {
    background-position: -64px -192px;
}
.icon.client-loading_image {
    background-position: -96px -192px;
}
.icon.client-message_incoming {
    background-position: -128px -192px;
}
.icon.client-message_info {
    background-position: -160px -192px;
}
.icon.client-message_outgoing {
    background-position: -192px -192px;
}
.icon.client-messages {
    background-position: -224px -192px;
}
.icon.client-moderated {
    background-position: -256px -192px;
}
.icon.client-move_client_to_own_channel {
    background-position: -288px -192px;
}
.icon.client-music {
    background-position: -320px -192px;
}
.icon.client-new_chat {
    background-position: -352px -192px;
}
.icon.client-notifications {
    background-position: -384px -192px;
}
.icon.client-offline_messages {
    background-position: -416px -192px;
}
.icon.client-on_whisperlist {
    background-position: -448px -192px;
}
.icon.client-output_muted {
    background-position: -480px -192px;
}
.icon.client-permission_channel {
    background-position: 0 -224px;
}
.icon.client-permission_client {
    background-position: -32px -224px;
}
.icon.client-permission_overview {
    background-position: -64px -224px;
}
.icon.client-permission_server_groups {
    background-position: -96px -224px;
}
.icon.client-phoneticsnickname {
    background-position: -128px -224px;
}
.icon.client-ping_1 {
    background-position: -160px -224px;
}
.icon.client-ping_2 {
    background-position: -192px -224px;
}
.icon.client-ping_3 {
    background-position: -224px -224px;
}
.icon.client-ping_4 {
    background-position: -256px -224px;
}
.icon.client-ping_calculating {
    background-position: -288px -224px;
}
.icon.client-ping_disconnected {
    background-position: -320px -224px;
}
.icon.client-play {
    background-position: -352px -224px;
}
.icon.client-player_chat {
    background-position: -384px -224px;
}
.icon.client-player_commander_off {
    background-position: -416px -224px;
}
.icon.client-player_commander_on {
    background-position: -448px -224px;
}
.icon.client-player_off {
    background-position: -480px -224px;
}
.icon.client-player_on {
    background-position: 0 -256px;
}
.icon.client-player_whisper {
    background-position: -32px -256px;
}
.icon.client-plugins {
    background-position: -64px -256px;
}
.icon.client-poke {
    background-position: -96px -256px;
}
.icon.client-present {
    background-position: -128px -256px;
}
.icon.client-recording_start {
    background-position: -160px -256px;
}
.icon.client-recording_stop {
    background-position: -192px -256px;
}
.icon.client-refresh {
    background-position: -224px -256px;
}
.icon.client-register {
    background-position: -256px -256px;
}
.icon.client-reload {
    background-position: -288px -256px;
}
.icon.client-remove_foe {
    background-position: -320px -256px;
}
.icon.client-remove_friend {
    background-position: -352px -256px;
}
.icon.client-security {
    background-position: -384px -256px;
}
.icon.client-selectfolder {
    background-position: -416px -256px;
}
.icon.client-send_complaint {
    background-position: -448px -256px;
}
.icon.client-server_green {
    background-position: -480px -256px;
}
.icon.client-server_log {
    background-position: 0 -288px;
}
.icon.client-server_query {
    background-position: -32px -288px;
}
.icon.client-settings {
    background-position: -64px -288px;
}
.icon.client-sort_by_name {
    background-position: -96px -288px;
}
.icon.client-soundpack {
    background-position: -128px -288px;
}
.icon.client-sound-pack {
    background-position: -160px -288px;
}
.icon.client-stop {
    background-position: -192px -288px;
}
.icon.client-subscribe_mode {
    background-position: -224px -288px;
}
.icon.client-subscribe_to_all_channels {
    background-position: -256px -288px;
}
.icon.client-subscribe_to_channel {
    background-position: -288px -288px;
}
.icon.client-subscribe_to_channel_family {
    background-position: -320px -288px;
}
.icon.client-switch_advanced {
    background-position: -352px -288px;
}
.icon.client-switch_standard {
    background-position: -384px -288px;
}
.icon.client-sync-disable {
    background-position: -416px -288px;
}
.icon.client-sync-enable {
    background-position: -448px -288px;
}
.icon.client-sync-icon {
    background-position: -480px -288px;
}
.icon.client-tab_close_button {
    background-position: 0 -320px;
}
.icon.client-talk_power_grant {
    background-position: -32px -320px;
}
.icon.client-talk_power_grant_next {
    background-position: -64px -320px;
}
.icon.client-talk_power_request {
    background-position: -96px -320px;
}
.icon.client-talk_power_request_cancel {
    background-position: -128px -320px;
}
.icon.client-talk_power_revoke {
    background-position: -160px -320px;
}
.icon.client-talk_power_revoke_all_grant_next {
    background-position: -192px -320px;
}
.icon.client-temp_server_password {
    background-position: -224px -320px;
}
.icon.client-temp_server_password_add {
    background-position: -256px -320px;
}
.icon.client-textformat {
    background-position: -288px -320px;
}
.icon.client-textformat_bold {
    background-position: -320px -320px;
}
.icon.client-textformat_foreground {
    background-position: -352px -320px;
}
.icon.client-textformat_italic {
    background-position: -384px -320px;
}
.icon.client-textformat_underline {
    background-position: -416px -320px;
}
.icon.client-theme {
    background-position: -448px -320px;
}
.icon.client-toggle_server_query_clients {
    background-position: -480px -320px;
}
.icon.client-toggle_whisper {
    background-position: 0 -352px;
}
.icon.client-token {
    background-position: -32px -352px;
}
.icon.client-token_use {
    background-position: -64px -352px;
}
.icon.client-translation {
    background-position: -96px -352px;
}
.icon.client-unsubscribe_from_all_channels {
    background-position: -128px -352px;
}
.icon.client-unsubscribe_from_channel_family {
    background-position: -160px -352px;
}
.icon.client-unsubscribe_mode {
    background-position: -192px -352px;
}
.icon.client-up {
    background-position: -224px -352px;
}
.icon.client-upload {
    background-position: -256px -352px;
}
.icon.client-upload_avatar {
    background-position: -288px -352px;
}
.icon.client-urlcatcher {
    background-position: -320px -352px;
}
.icon.client-user-account {
    background-position: -352px -352px;
}
.icon.client-virtualserver_edit {
    background-position: -384px -352px;
}
.icon.client-volume {
    background-position: -416px -352px;
}
.icon.client-warning {
    background-position: -448px -352px;
}
.icon.client-warning_external_link {
    background-position: -480px -352px;
}
.icon.client-warning_info {
    background-position: 0 -384px;
}
.icon.client-warning_question {
    background-position: -32px -384px;
}
.icon.client-weblist {
    background-position: -64px -384px;
}
.icon.client-whisper {
    background-position: -96px -384px;
}
.icon.client-whisperlists {
    background-position: -128px -384px;
}
.icon.client-channel_green_subscribed2 {
    background-position: -160px -384px;
}
.icon.client-home {
    background-position: -192px -384px;
}

.icon_x32 {
    display: inline-block;
    background: url('../../../img/client_icon_sprite.svg'), url('../../img/client_icon_sprite.svg') no-repeat;
    background-size: calc(496px * 2) calc(400px * 2);
    height: 32px;
    width: 32px;
}

/*  replace pattern: "background-position: ((\-?[0-9]{1,3})(px)?) ((\-?[0-9]{1,3})(px)?);" */
/*  replace with: "background-position: calc\($2px * 2) calc($5px * 2);" */
/*  Icons x32 */
.icon_x32.client-d_sound {
    background-position: calc(0px * 2) calc(0px * 2);
}
.icon_x32.client-d_sound_me {
    background-position: calc(-32px * 2) calc(0px * 2);
}
.icon_x32.client-d_sound_user {
    background-position: calc(-64px * 2) calc(0px * 2);
}
.icon_x32.client-about {
    background-position: calc(-96px * 2) calc(0px * 2);
}
.icon_x32.client-activate_microphone {
    background-position: calc(-128px * 2) calc(0px * 2);
}
.icon_x32.client-add {
    background-position: calc(-160px * 2) calc(0px * 2);
}
.icon_x32.client-add_foe {
    background-position: calc(-192px * 2) calc(0px * 2);
}
.icon_x32.client-add_folder {
    background-position: calc(-224px * 2) calc(0px * 2);
}
.icon_x32.client-add_friend {
    background-position: calc(-256px * 2) calc(0px * 2);
}
.icon_x32.client-addon {
    background-position: calc(-288px * 2) calc(0px * 2);
}
.icon_x32.client-addon-collection {
    background-position: calc(-320px * 2) calc(0px * 2);
}
.icon_x32.client-apply {
    background-position: calc(-352px * 2) calc(0px * 2);
}
.icon_x32.client-arrow_down {
    background-position: calc(-384px * 2) calc(0px * 2);
}
.icon_x32.client-arrow_left {
    background-position: calc(-416px * 2) calc(0px * 2);
}
.icon_x32.client-arrow_right {
    background-position: calc(-448px * 2) calc(0px * 2);
}
.icon_x32.client-arrow_up {
    background-position: calc(-480px * 2) calc(0px * 2);
}
.icon_x32.client-away {
    background-position: calc(0px * 2) calc(-32px * 2);
}
.icon_x32.client-ban_client {
    background-position: calc(-32px * 2) calc(-32px * 2);
}
.icon_x32.client-ban_list {
    background-position: calc(-64px * 2) calc(-32px * 2);
}
.icon_x32.client-bookmark_add {
    background-position: calc(-96px * 2) calc(-32px * 2);
}
.icon_x32.client-bookmark_add_folder {
    background-position: calc(-128px * 2) calc(-32px * 2);
}
.icon_x32.client-bookmark_duplicate {
    background-position: calc(-160px * 2) calc(-32px * 2);
}
.icon_x32.client-bookmark_manager {
    background-position: calc(-192px * 2) calc(-32px * 2);
}
.icon_x32.client-bookmark_remove {
    background-position: calc(-224px * 2) calc(-32px * 2);
}
.icon_x32.client-broken_image {
    background-position: calc(-256px * 2) calc(-32px * 2);
}
.icon_x32.client-browse-addon-online {
    background-position: calc(-288px * 2) calc(-32px * 2);
}
.icon_x32.client-capture {
    background-position: calc(-320px * 2) calc(-32px * 2);
}
.icon_x32.client-changelog {
    background-position: calc(-352px * 2) calc(-32px * 2);
}
.icon_x32.client-change_nickname {
    background-position: calc(-384px * 2) calc(-32px * 2);
}
.icon_x32.client-channel_chat {
    background-position: calc(-416px * 2) calc(-32px * 2);
}
.icon_x32.client-channel_collapse_all {
    background-position: calc(-448px * 2) calc(-32px * 2);
}
.icon_x32.client-channel_commander {
    background-position: calc(-480px * 2) calc(-32px * 2);
}
.icon_x32.client-channel_create {
    background-position: calc(0px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_create_sub {
    background-position: calc(-32px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_default {
    background-position: calc(-64px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_delete {
    background-position: calc(-96px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_edit {
    background-position: calc(-128px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_expand_all {
    background-position: calc(-160px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_green {
    background-position: calc(-192px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_green_subscribed {
    background-position: calc(-224px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_private {
    background-position: calc(-256px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_red {
    background-position: calc(-288px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_red_subscribed {
    background-position: calc(-320px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_switch {
    background-position: calc(-352px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_unsubscribed {
    background-position: calc(-384px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_yellow {
    background-position: calc(-416px * 2) calc(-64px * 2);
}
.icon_x32.client-channel_yellow_subscribed {
    background-position: calc(-448px * 2) calc(-64px * 2);
}
.icon_x32.client-check_update {
    background-position: calc(-480px * 2) calc(-64px * 2);
}
.icon_x32.client-client_hide {
    background-position: calc(0px * 2) calc(-96px * 2);
}
.icon_x32.client-client_show {
    background-position: calc(-32px * 2) calc(-96px * 2);
}
.icon_x32.client-close_button {
    background-position: calc(-64px * 2) calc(-96px * 2);
}
.icon_x32.client-complaint_list {
    background-position: calc(-96px * 2) calc(-96px * 2);
}
.icon_x32.client-conflict-icon {
    background-position: calc(-128px * 2) calc(-96px * 2);
}
.icon_x32.client-connect {
    background-position: calc(-160px * 2) calc(-96px * 2);
}
.icon_x32.client-contact {
    background-position: calc(-192px * 2) calc(-96px * 2);
}
.icon_x32.client-copy {
    background-position: calc(-224px * 2) calc(-96px * 2);
}
.icon_x32.client-copy_url {
    background-position: calc(-256px * 2) calc(-96px * 2);
}
.icon_x32.client-default {
    background-position: calc(-288px * 2) calc(-96px * 2);
}
.icon_x32.client-default_for_all_bookmarks {
    background-position: calc(-320px * 2) calc(-96px * 2);
}
.icon_x32.client-delete {
    background-position: calc(-352px * 2) calc(-96px * 2);
}
.icon_x32.client-delete_avatar {
    background-position: calc(-384px * 2) calc(-96px * 2);
}
.icon_x32.client-disconnect {
    background-position: calc(-416px * 2) calc(-96px * 2);
}
.icon_x32.client-down {
    background-position: calc(-448px * 2) calc(-96px * 2);
}
.icon_x32.client-download {
    background-position: calc(-480px * 2) calc(-96px * 2);
}
.icon_x32.client-edit {
    background-position: calc(0px * 2) calc(-128px * 2);
}
.icon_x32.client-edit_friend_foe_status {
    background-position: calc(-32px * 2) calc(-128px * 2);
}
.icon_x32.client-emoticon {
    background-position: calc(-64px * 2) calc(-128px * 2);
}
.icon_x32.client-error {
    background-position: calc(-96px * 2) calc(-128px * 2);
}
.icon_x32.client-file_home {
    background-position: calc(-128px * 2) calc(-128px * 2);
}
.icon_x32.client-file_refresh {
    background-position: calc(-160px * 2) calc(-128px * 2);
}
.icon_x32.client-filetransfer {
    background-position: calc(-192px * 2) calc(-128px * 2);
}
.icon_x32.client-find {
    background-position: calc(-224px * 2) calc(-128px * 2);
}
.icon_x32.client-folder {
    background-position: calc(-256px * 2) calc(-128px * 2);
}
.icon_x32.client-folder_up {
    background-position: calc(-288px * 2) calc(-128px * 2);
}
.icon_x32.client-group_100 {
    background-position: calc(-320px * 2) calc(-128px * 2);
}
.icon_x32.client-group_200 {
    background-position: calc(-352px * 2) calc(-128px * 2);
}
.icon_x32.client-group_300 {
    background-position: calc(-384px * 2) calc(-128px * 2);
}
.icon_x32.client-group_500 {
    background-position: calc(-416px * 2) calc(-128px * 2);
}
.icon_x32.client-group_600 {
    background-position: calc(-448px * 2) calc(-128px * 2);
}
.icon_x32.client-guisetup {
    background-position: calc(-480px * 2) calc(-128px * 2);
}
.icon_x32.client-hardware_input_muted {
    background-position: calc(0px * 2) calc(-160px * 2);
}
.icon_x32.client-hardware_output_muted {
    background-position: calc(-32px * 2) calc(-160px * 2);
}
.icon_x32.client-hoster_button {
    background-position: calc(-64px * 2) calc(-160px * 2);
}
.icon_x32.client-hotkeys {
    background-position: calc(-96px * 2) calc(-160px * 2);
}
.icon_x32.client-icon-pack {
    background-position: calc(-128px * 2) calc(-160px * 2);
}
.icon_x32.client-iconsview {
    background-position: calc(-160px * 2) calc(-160px * 2);
}
.icon_x32.client-iconviewer {
    background-position: calc(-192px * 2) calc(-160px * 2);
}
.icon_x32.client-identity_default {
    background-position: calc(-224px * 2) calc(-160px * 2);
}
.icon_x32.client-identity_export {
    background-position: calc(-256px * 2) calc(-160px * 2);
}
.icon_x32.client-identity_import {
    background-position: calc(-288px * 2) calc(-160px * 2);
}
.icon_x32.client-identity_manager {
    background-position: calc(-320px * 2) calc(-160px * 2);
}
.icon_x32.client-info {
    background-position: calc(-352px * 2) calc(-160px * 2);
}
.icon_x32.client-input_muted {
    background-position: calc(-384px * 2) calc(-160px * 2);
}
.icon_x32.client-input_muted_local {
    background-position: calc(-416px * 2) calc(-160px * 2);
}
.icon_x32.client-invite_buddy {
    background-position: calc(-448px * 2) calc(-160px * 2);
}
.icon_x32.client-is_talker {
    background-position: calc(-480px * 2) calc(-160px * 2);
}
.icon_x32.client-kick_channel {
    background-position: calc(0px * 2) calc(-192px * 2);
}
.icon_x32.client-kick_server {
    background-position: calc(-32px * 2) calc(-192px * 2);
}
.icon_x32.client-listview {
    background-position: calc(-64px * 2) calc(-192px * 2);
}
.icon_x32.client-loading_image {
    background-position: calc(-96px * 2) calc(-192px * 2);
}
.icon_x32.client-message_incoming {
    background-position: calc(-128px * 2) calc(-192px * 2);
}
.icon_x32.client-message_info {
    background-position: calc(-160px * 2) calc(-192px * 2);
}
.icon_x32.client-message_outgoing {
    background-position: calc(-192px * 2) calc(-192px * 2);
}
.icon_x32.client-messages {
    background-position: calc(-224px * 2) calc(-192px * 2);
}
.icon_x32.client-moderated {
    background-position: calc(-256px * 2) calc(-192px * 2);
}
.icon_x32.client-move_client_to_own_channel {
    background-position: calc(-288px * 2) calc(-192px * 2);
}
.icon_x32.client-music {
    background-position: calc(-320px * 2) calc(-192px * 2);
}
.icon_x32.client-new_chat {
    background-position: calc(-352px * 2) calc(-192px * 2);
}
.icon_x32.client-notifications {
    background-position: calc(-384px * 2) calc(-192px * 2);
}
.icon_x32.client-offline_messages {
    background-position: calc(-416px * 2) calc(-192px * 2);
}
.icon_x32.client-on_whisperlist {
    background-position: calc(-448px * 2) calc(-192px * 2);
}
.icon_x32.client-output_muted {
    background-position: calc(-480px * 2) calc(-192px * 2);
}
.icon_x32.client-permission_channel {
    background-position: calc(0px * 2) calc(-224px * 2);
}
.icon_x32.client-permission_client {
    background-position: calc(-32px * 2) calc(-224px * 2);
}
.icon_x32.client-permission_overview {
    background-position: calc(-64px * 2) calc(-224px * 2);
}
.icon_x32.client-permission_server_groups {
    background-position: calc(-96px * 2) calc(-224px * 2);
}
.icon_x32.client-phoneticsnickname {
    background-position: calc(-128px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_1 {
    background-position: calc(-160px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_2 {
    background-position: calc(-192px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_3 {
    background-position: calc(-224px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_4 {
    background-position: calc(-256px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_calculating {
    background-position: calc(-288px * 2) calc(-224px * 2);
}
.icon_x32.client-ping_disconnected {
    background-position: calc(-320px * 2) calc(-224px * 2);
}
.icon_x32.client-play {
    background-position: calc(-352px * 2) calc(-224px * 2);
}
.icon_x32.client-player_chat {
    background-position: calc(-384px * 2) calc(-224px * 2);
}
.icon_x32.client-player_commander_off {
    background-position: calc(-416px * 2) calc(-224px * 2);
}
.icon_x32.client-player_commander_on {
    background-position: calc(-448px * 2) calc(-224px * 2);
}
.icon_x32.client-player_off {
    background-position: calc(-480px * 2) calc(-224px * 2);
}
.icon_x32.client-player_on {
    background-position: calc(0px * 2) calc(-256px * 2);
}
.icon_x32.client-player_whisper {
    background-position: calc(-32px * 2) calc(-256px * 2);
}
.icon_x32.client-plugins {
    background-position: calc(-64px * 2) calc(-256px * 2);
}
.icon_x32.client-poke {
    background-position: calc(-96px * 2) calc(-256px * 2);
}
.icon_x32.client-present {
    background-position: calc(-128px * 2) calc(-256px * 2);
}
.icon_x32.client-recording_start {
    background-position: calc(-160px * 2) calc(-256px * 2);
}
.icon_x32.client-recording_stop {
    background-position: calc(-192px * 2) calc(-256px * 2);
}
.icon_x32.client-refresh {
    background-position: calc(-224px * 2) calc(-256px * 2);
}
.icon_x32.client-register {
    background-position: calc(-256px * 2) calc(-256px * 2);
}
.icon_x32.client-reload {
    background-position: calc(-288px * 2) calc(-256px * 2);
}
.icon_x32.client-remove_foe {
    background-position: calc(-320px * 2) calc(-256px * 2);
}
.icon_x32.client-remove_friend {
    background-position: calc(-352px * 2) calc(-256px * 2);
}
.icon_x32.client-security {
    background-position: calc(-384px * 2) calc(-256px * 2);
}
.icon_x32.client-selectfolder {
    background-position: calc(-416px * 2) calc(-256px * 2);
}
.icon_x32.client-send_complaint {
    background-position: calc(-448px * 2) calc(-256px * 2);
}
.icon_x32.client-server_green {
    background-position: calc(-480px * 2) calc(-256px * 2);
}
.icon_x32.client-server_log {
    background-position: calc(0px * 2) calc(-288px * 2);
}
.icon_x32.client-server_query {
    background-position: calc(-32px * 2) calc(-288px * 2);
}
.icon_x32.client-settings {
    background-position: calc(-64px * 2) calc(-288px * 2);
}
.icon_x32.client-sort_by_name {
    background-position: calc(-96px * 2) calc(-288px * 2);
}
.icon_x32.client-soundpack {
    background-position: calc(-128px * 2) calc(-288px * 2);
}
.icon_x32.client-sound-pack {
    background-position: calc(-160px * 2) calc(-288px * 2);
}
.icon_x32.client-stop {
    background-position: calc(-192px * 2) calc(-288px * 2);
}
.icon_x32.client-subscribe_mode {
    background-position: calc(-224px * 2) calc(-288px * 2);
}
.icon_x32.client-subscribe_to_all_channels {
    background-position: calc(-256px * 2) calc(-288px * 2);
}
.icon_x32.client-subscribe_to_channel {
    background-position: calc(-288px * 2) calc(-288px * 2);
}
.icon_x32.client-subscribe_to_channel_family {
    background-position: calc(-320px * 2) calc(-288px * 2);
}
.icon_x32.client-switch_advanced {
    background-position: calc(-352px * 2) calc(-288px * 2);
}
.icon_x32.client-switch_standard {
    background-position: calc(-384px * 2) calc(-288px * 2);
}
.icon_x32.client-sync-disable {
    background-position: calc(-416px * 2) calc(-288px * 2);
}
.icon_x32.client-sync-enable {
    background-position: calc(-448px * 2) calc(-288px * 2);
}
.icon_x32.client-sync-icon {
    background-position: calc(-480px * 2) calc(-288px * 2);
}
.icon_x32.client-tab_close_button {
    background-position: calc(0px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_grant {
    background-position: calc(-32px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_grant_next {
    background-position: calc(-64px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_request {
    background-position: calc(-96px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_request_cancel {
    background-position: calc(-128px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_revoke {
    background-position: calc(-160px * 2) calc(-320px * 2);
}
.icon_x32.client-talk_power_revoke_all_grant_next {
    background-position: calc(-192px * 2) calc(-320px * 2);
}
.icon_x32.client-temp_server_password {
    background-position: calc(-224px * 2) calc(-320px * 2);
}
.icon_x32.client-temp_server_password_add {
    background-position: calc(-256px * 2) calc(-320px * 2);
}
.icon_x32.client-textformat {
    background-position: calc(-288px * 2) calc(-320px * 2);
}
.icon_x32.client-textformat_bold {
    background-position: calc(-320px * 2) calc(-320px * 2);
}
.icon_x32.client-textformat_foreground {
    background-position: calc(-352px * 2) calc(-320px * 2);
}
.icon_x32.client-textformat_italic {
    background-position: calc(-384px * 2) calc(-320px * 2);
}
.icon_x32.client-textformat_underline {
    background-position: calc(-416px * 2) calc(-320px * 2);
}
.icon_x32.client-theme {
    background-position: calc(-448px * 2) calc(-320px * 2);
}
.icon_x32.client-toggle_server_query_clients {
    background-position: calc(-480px * 2) calc(-320px * 2);
}
.icon_x32.client-toggle_whisper {
    background-position: calc(0px * 2) calc(-352px * 2);
}
.icon_x32.client-token {
    background-position: calc(-32px * 2) calc(-352px * 2);
}
.icon_x32.client-token_use {
    background-position: calc(-64px * 2) calc(-352px * 2);
}
.icon_x32.client-translation {
    background-position: calc(-96px * 2) calc(-352px * 2);
}
.icon_x32.client-unsubscribe_from_all_channels {
    background-position: calc(-128px * 2) calc(-352px * 2);
}
.icon_x32.client-unsubscribe_from_channel_family {
    background-position: calc(-160px * 2) calc(-352px * 2);
}
.icon_x32.client-unsubscribe_mode {
    background-position: calc(-192px * 2) calc(-352px * 2);
}
.icon_x32.client-up {
    background-position: calc(-224px * 2) calc(-352px * 2);
}
.icon_x32.client-upload {
    background-position: calc(-256px * 2) calc(-352px * 2);
}
.icon_x32.client-upload_avatar {
    background-position: calc(-288px * 2) calc(-352px * 2);
}
.icon_x32.client-urlcatcher {
    background-position: calc(-320px * 2) calc(-352px * 2);
}
.icon_x32.client-user-account {
    background-position: calc(-352px * 2) calc(-352px * 2);
}
.icon_x32.client-virtualserver_edit {
    background-position: calc(-384px * 2) calc(-352px * 2);
}
.icon_x32.client-volume {
    background-position: calc(-416px * 2) calc(-352px * 2);
}
.icon_x32.client-warning {
    background-position: calc(-448px * 2) calc(-352px * 2);
}
.icon_x32.client-warning_external_link {
    background-position: calc(-480px * 2) calc(-352px * 2);
}
.icon_x32.client-warning_info {
    background-position: calc(0px * 2) calc(-384px * 2);
}
.icon_x32.client-warning_question {
    background-position: calc(-32px * 2) calc(-384px * 2);
}
.icon_x32.client-weblist {
    background-position: calc(-64px * 2) calc(-384px * 2);
}
.icon_x32.client-whisper {
    background-position: calc(-96px * 2) calc(-384px * 2);
}
.icon_x32.client-whisperlists {
    background-position: calc(-128px * 2) calc(-384px * 2);
}
.icon_x32.client-channel_green_subscribed2 {
    background-position: calc(-160px * 2) calc(-384px * 2);
}
.icon_x32.client-home {
    background-position: calc(-192px * 2) calc(-384px * 2);
}


/*  replace pattern: "background-position: calc\(((\-?[0-9]{1,3})(px)? \* 2)\) calc\(((\-?[0-9]{1,3})(px)? \* 2)\);" */
/*  replace with: "background-position: calc\($2px * 1.5) calc($5px * 1.5);" */
/*  Icons x24 */

.icon_x24 {
    display: inline-block;
    background: url('../../../img/client_icon_sprite.svg'), url('../../img/client_icon_sprite.svg') no-repeat;
    background-size: calc(496px * 1.5) calc(400px * 1.5);
    height: 24px;
    width: 24px;
}

.icon_x24.client-d_sound {
    background-position: calc(0px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-d_sound_me {
    background-position: calc(-32px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-d_sound_user {
    background-position: calc(-64px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-about {
    background-position: calc(-96px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-activate_microphone {
    background-position: calc(-128px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-add {
    background-position: calc(-160px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-add_foe {
    background-position: calc(-192px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-add_folder {
    background-position: calc(-224px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-add_friend {
    background-position: calc(-256px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-addon {
    background-position: calc(-288px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-addon-collection {
    background-position: calc(-320px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-apply {
    background-position: calc(-352px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-arrow_down {
    background-position: calc(-384px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-arrow_left {
    background-position: calc(-416px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-arrow_right {
    background-position: calc(-448px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-arrow_up {
    background-position: calc(-480px * 1.5) calc(0px * 1.5);
}
.icon_x24.client-away {
    background-position: calc(0px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-ban_client {
    background-position: calc(-32px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-ban_list {
    background-position: calc(-64px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-bookmark_add {
    background-position: calc(-96px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-bookmark_add_folder {
    background-position: calc(-128px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-bookmark_duplicate {
    background-position: calc(-160px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-bookmark_manager {
    background-position: calc(-192px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-bookmark_remove {
    background-position: calc(-224px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-broken_image {
    background-position: calc(-256px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-browse-addon-online {
    background-position: calc(-288px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-capture {
    background-position: calc(-320px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-changelog {
    background-position: calc(-352px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-change_nickname {
    background-position: calc(-384px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-channel_chat {
    background-position: calc(-416px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-channel_collapse_all {
    background-position: calc(-448px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-channel_commander {
    background-position: calc(-480px * 1.5) calc(-32px * 1.5);
}
.icon_x24.client-channel_create {
    background-position: calc(0px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_create_sub {
    background-position: calc(-32px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_default {
    background-position: calc(-64px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_delete {
    background-position: calc(-96px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_edit {
    background-position: calc(-128px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_expand_all {
    background-position: calc(-160px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_green {
    background-position: calc(-192px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_green_subscribed {
    background-position: calc(-224px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_private {
    background-position: calc(-256px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_red {
    background-position: calc(-288px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_red_subscribed {
    background-position: calc(-320px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_switch {
    background-position: calc(-352px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_unsubscribed {
    background-position: calc(-384px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_yellow {
    background-position: calc(-416px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-channel_yellow_subscribed {
    background-position: calc(-448px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-check_update {
    background-position: calc(-480px * 1.5) calc(-64px * 1.5);
}
.icon_x24.client-client_hide {
    background-position: calc(0px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-client_show {
    background-position: calc(-32px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-close_button {
    background-position: calc(-64px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-complaint_list {
    background-position: calc(-96px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-conflict-icon {
    background-position: calc(-128px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-connect {
    background-position: calc(-160px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-contact {
    background-position: calc(-192px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-copy {
    background-position: calc(-224px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-copy_url {
    background-position: calc(-256px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-default {
    background-position: calc(-288px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-default_for_all_bookmarks {
    background-position: calc(-320px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-delete {
    background-position: calc(-352px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-delete_avatar {
    background-position: calc(-384px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-disconnect {
    background-position: calc(-416px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-down {
    background-position: calc(-448px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-download {
    background-position: calc(-480px * 1.5) calc(-96px * 1.5);
}
.icon_x24.client-edit {
    background-position: calc(0px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-edit_friend_foe_status {
    background-position: calc(-32px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-emoticon {
    background-position: calc(-64px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-error {
    background-position: calc(-96px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-file_home {
    background-position: calc(-128px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-file_refresh {
    background-position: calc(-160px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-filetransfer {
    background-position: calc(-192px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-find {
    background-position: calc(-224px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-folder {
    background-position: calc(-256px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-folder_up {
    background-position: calc(-288px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-group_100 {
    background-position: calc(-320px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-group_200 {
    background-position: calc(-352px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-group_300 {
    background-position: calc(-384px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-group_500 {
    background-position: calc(-416px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-group_600 {
    background-position: calc(-448px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-guisetup {
    background-position: calc(-480px * 1.5) calc(-128px * 1.5);
}
.icon_x24.client-hardware_input_muted {
    background-position: calc(0px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-hardware_output_muted {
    background-position: calc(-32px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-hoster_button {
    background-position: calc(-64px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-hotkeys {
    background-position: calc(-96px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-icon-pack {
    background-position: calc(-128px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-iconsview {
    background-position: calc(-160px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-iconviewer {
    background-position: calc(-192px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-identity_default {
    background-position: calc(-224px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-identity_export {
    background-position: calc(-256px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-identity_import {
    background-position: calc(-288px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-identity_manager {
    background-position: calc(-320px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-info {
    background-position: calc(-352px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-input_muted {
    background-position: calc(-384px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-input_muted_local {
    background-position: calc(-416px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-invite_buddy {
    background-position: calc(-448px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-is_talker {
    background-position: calc(-480px * 1.5) calc(-160px * 1.5);
}
.icon_x24.client-kick_channel {
    background-position: calc(0px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-kick_server {
    background-position: calc(-32px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-listview {
    background-position: calc(-64px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-loading_image {
    background-position: calc(-96px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-message_incoming {
    background-position: calc(-128px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-message_info {
    background-position: calc(-160px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-message_outgoing {
    background-position: calc(-192px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-messages {
    background-position: calc(-224px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-moderated {
    background-position: calc(-256px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-move_client_to_own_channel {
    background-position: calc(-288px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-music {
    background-position: calc(-320px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-new_chat {
    background-position: calc(-352px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-notifications {
    background-position: calc(-384px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-offline_messages {
    background-position: calc(-416px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-on_whisperlist {
    background-position: calc(-448px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-output_muted {
    background-position: calc(-480px * 1.5) calc(-192px * 1.5);
}
.icon_x24.client-permission_channel {
    background-position: calc(0px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-permission_client {
    background-position: calc(-32px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-permission_overview {
    background-position: calc(-64px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-permission_server_groups {
    background-position: calc(-96px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-phoneticsnickname {
    background-position: calc(-128px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_1 {
    background-position: calc(-160px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_2 {
    background-position: calc(-192px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_3 {
    background-position: calc(-224px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_4 {
    background-position: calc(-256px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_calculating {
    background-position: calc(-288px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-ping_disconnected {
    background-position: calc(-320px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-play {
    background-position: calc(-352px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-player_chat {
    background-position: calc(-384px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-player_commander_off {
    background-position: calc(-416px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-player_commander_on {
    background-position: calc(-448px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-player_off {
    background-position: calc(-480px * 1.5) calc(-224px * 1.5);
}
.icon_x24.client-player_on {
    background-position: calc(0px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-player_whisper {
    background-position: calc(-32px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-plugins {
    background-position: calc(-64px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-poke {
    background-position: calc(-96px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-present {
    background-position: calc(-128px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-recording_start {
    background-position: calc(-160px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-recording_stop {
    background-position: calc(-192px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-refresh {
    background-position: calc(-224px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-register {
    background-position: calc(-256px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-reload {
    background-position: calc(-288px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-remove_foe {
    background-position: calc(-320px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-remove_friend {
    background-position: calc(-352px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-security {
    background-position: calc(-384px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-selectfolder {
    background-position: calc(-416px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-send_complaint {
    background-position: calc(-448px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-server_green {
    background-position: calc(-480px * 1.5) calc(-256px * 1.5);
}
.icon_x24.client-server_log {
    background-position: calc(0px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-server_query {
    background-position: calc(-32px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-settings {
    background-position: calc(-64px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-sort_by_name {
    background-position: calc(-96px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-soundpack {
    background-position: calc(-128px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-sound-pack {
    background-position: calc(-160px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-stop {
    background-position: calc(-192px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-subscribe_mode {
    background-position: calc(-224px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-subscribe_to_all_channels {
    background-position: calc(-256px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-subscribe_to_channel {
    background-position: calc(-288px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-subscribe_to_channel_family {
    background-position: calc(-320px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-switch_advanced {
    background-position: calc(-352px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-switch_standard {
    background-position: calc(-384px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-sync-disable {
    background-position: calc(-416px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-sync-enable {
    background-position: calc(-448px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-sync-icon {
    background-position: calc(-480px * 1.5) calc(-288px * 1.5);
}
.icon_x24.client-tab_close_button {
    background-position: calc(0px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_grant {
    background-position: calc(-32px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_grant_next {
    background-position: calc(-64px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_request {
    background-position: calc(-96px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_request_cancel {
    background-position: calc(-128px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_revoke {
    background-position: calc(-160px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-talk_power_revoke_all_grant_next {
    background-position: calc(-192px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-temp_server_password {
    background-position: calc(-224px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-temp_server_password_add {
    background-position: calc(-256px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-textformat {
    background-position: calc(-288px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-textformat_bold {
    background-position: calc(-320px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-textformat_foreground {
    background-position: calc(-352px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-textformat_italic {
    background-position: calc(-384px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-textformat_underline {
    background-position: calc(-416px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-theme {
    background-position: calc(-448px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-toggle_server_query_clients {
    background-position: calc(-480px * 1.5) calc(-320px * 1.5);
}
.icon_x24.client-toggle_whisper {
    background-position: calc(0px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-token {
    background-position: calc(-32px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-token_use {
    background-position: calc(-64px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-translation {
    background-position: calc(-96px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-unsubscribe_from_all_channels {
    background-position: calc(-128px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-unsubscribe_from_channel_family {
    background-position: calc(-160px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-unsubscribe_mode {
    background-position: calc(-192px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-up {
    background-position: calc(-224px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-upload {
    background-position: calc(-256px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-upload_avatar {
    background-position: calc(-288px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-urlcatcher {
    background-position: calc(-320px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-user-account {
    background-position: calc(-352px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-virtualserver_edit {
    background-position: calc(-384px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-volume {
    background-position: calc(-416px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-warning {
    background-position: calc(-448px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-warning_external_link {
    background-position: calc(-480px * 1.5) calc(-352px * 1.5);
}
.icon_x24.client-warning_info {
    background-position: calc(0px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-warning_question {
    background-position: calc(-32px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-weblist {
    background-position: calc(-64px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-whisper {
    background-position: calc(-96px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-whisperlists {
    background-position: calc(-128px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-channel_green_subscribed2 {
    background-position: calc(-160px * 1.5) calc(-384px * 1.5);
}
.icon_x24.client-home {
    background-position: calc(-192px * 1.5) calc(-384px * 1.5);
}