html:root {
    --modal-poke-date: #557edc;
    --modal-poke-text: #999;
}

.container {
    display: flex;
    flex-direction: column;

    padding: 1em;

    .containerServers {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        .server {
            display: flex;
            flex-direction: column;
            justify-content: stretch;

            .serverName {
                flex-grow: 0;
                flex-shrink: 0;

                font-weight: bold;
                text-decoration: underline;
            }

            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }
    }

    &.window {
        height: 100%;
    }
}

.pokeList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-y: auto;
    overflow-x: auto;

    .entry {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        flex-shrink: 0;
        flex-grow: 0;

        > * {
            white-space: nowrap;
        }

        .date, .user, .text {
            margin-right: 5px;
        }

        .date {
            color: var(--modal-poke-date);
        }

        .text {
            color: var(--modal-poke-text);
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    margin-top: auto;
    padding-top: 1em;

    flex-shrink: 0;
    flex-grow: 0;

    .spacer {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .buttonClose {
        flex-grow: 0;
        flex-shrink: 0;

        margin-top: 5px;
        width: 150px;
        float: right;
    }
}