@import "mixin";
@import "properties";

/* FIXME: Resolve variable usage! */
html:root {
	--side-background: #353535;
	--side-info-background: #2e2e2e;
	--side-info-shadow: rgba(0, 0, 0, 0.25);
	--side-info-title: #8b8b8b;

	--side-info-indicator: #dab8b4;
	--side-info-indicator-border: #6a0e0e;
	--side-info-indicator-background: #ca3e22;

	--side-info-value-background: #373737;
	--side-info-value: #5a5a5a;

	--side-info-ping-very-good: #3f7538;
	--side-info-ping-good: #365632;
	--side-info-ping-medium: #777f2c;
	--side-info-ping-poor: #7f5122;
	--side-info-ping-very-poor: #7f2222;

	--side-info-bot-add-song: #3f7538;
}