*,
*::before,
*::after {
	box-sizing: border-box;
}

.align_row {
	display: flex;
	flex-direction: row;
}

.align_column {
	display: flex;
	flex-direction: column;
}

.icon_loading {
	border: 2px solid #f3f3f3; /* Light grey */
	border-top: 2px solid #3498db; /* Blue */
	border-radius: 50%;
	animation: spin 2s linear infinite;

	width: 14px !important;
	height: 14px !important;
}

.avatar_loading {
	border: 2px solid #f3f3f3; /* Light grey */
	border-top: 2px solid #3498db; /* Blue */
	border-radius: 50%;
	animation: spin 2s linear infinite;

	width: 14px !important;
	height: 14px !important;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.select_info {
	font-family: Arial;
	font-size: 12px;
	/*white-space: pre;*/
	line-height: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* The Modal (background) */
.modal_disabled {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

	/* Modal Header */
	.modal-header {
		padding: 2px 16px;
		min-height: 30px;
		vertical-align: middle;
		display: flex;
		align-items: center;

		border: grey solid;
		border-width: 0 0 1px 0;

		background-color: lightgreen;
	}

	/* Modal Body */
	.modal-body:not(:empty) {
		display: flex;
		padding: 2px 16px;
		flex-grow: 1;
		flex-direction: column;
		justify-content: stretch;
	}

	/* Modal Footer */
	.modal-footer:not(:empty) {
		padding: 2px 16px;
	}

	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		position: absolute;
		top: 0px;
		right: 4px;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	/* Modal Content */
	.modal-content:not(:empty) {
		position: absolute;
		display: inline-flex;
		flex-direction: column;
		justify-content: stretch;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 2px solid #888;
		width: auto;
		max-width: 90%;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
		animation-name: modalFlyIn;
		animation-duration: 0.4s;
		top: 10%;
		max-height: 80%;

		left: 0;
		right: 0;
	}
}

/* Add Animation */
@keyframes modalFlyIn {
	from {
		top: 0%;
		opacity: 0
	}
	to {
		top: 10%;
		opacity: 1
	}
}

.channel_perm_tbl input {
	width: 30px;
}

.channel_perm_tbl .key {
	width: 120px;
}

.channel_general_properties .value {
	width: 100%;
}

html {
	background-color: gray;
}

fieldset {
	border: unset;
	display: unset;
}

.modal-head-error {
	background: darkred;

	font-family: Arial;
	font-size: 15px;
	font-weight: bold;

	vertical-align: middle;
}

.modal-button-group {

}

.modal-button-group button {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

.modal-button-group button:last-of-type {
	margin-right: 0px;
}

.invalid_input {
	border-color: red;
}

.GroupBox {
	border: gray solid;
	border-width: 2px;
	border-radius: 0px 6px 6px 6px;
}

code {
	background-color: lightgray;
	padding: 2px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	background-color: lightgray;

	display: flex;
}

footer .container {
	width: 100%;
	display: flex;
	position: relative;
	vertical-align: center;
	justify-content: center;
}

$separator_thickness: 4px;
.app {
	.container-app-main {
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		height: 100%;
		width: 100%;


		border: $separator_thickness solid lightgray;
		border-top-width: 0;
	}

	.container-control-bar {
		height: 45px;
		width: 100%;
		border-radius: 2px 0 0 0;
		border-bottom-width: 0;
		background-color: lightgrey;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.container-channel-chat {
		min-width: 100px;
		width: 60%;

		display: flex;
		flex-direction: column;
		justify-content: stretch;

		.container-channel {
			background: white;

			display: flex;
			justify-content: stretch;
			height: calc(100% - 250px);
			min-height: 100px;

			/*
			overflow: auto;
			overflow-x: visible;
			*/
			overflow: hidden;
			overflow-y: auto;
		}

		.container-chat {
			background: white;

			display: flex;
			flex-direction: column;
			justify-content: stretch;

			//max-height: 400px;
			height: 250px;
			min-height: 100px;
		}
	}

	.container-info {
		background: white;

		min-width: 100px;
		width: 40%;

		display: flex;
		flex-direction: row;
		justify-content: stretch;
	}
}

.container-seperator {
	background: lightgray;
	flex-grow: 0;
	flex-shrink: 0;

	&.horizontal {
		height: $separator_thickness;
		width: 100%;

		cursor: row-resize;
	}

	&.vertical {
		width: $separator_thickness;
		height: 100%;

		cursor: col-resize;
	}
}

#mouse-move {
	display: none;
	position: absolute;
	z-index: 10000;

	.container {
		position: relative;
		display: block;

		border: 2px solid gray;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
}

html, body {
	min-height: 500px;
	min-width: 500px;
	overflow: hidden;
}

body {
	padding: 8px;
	background: darkgray !important;
}

.icon-playlist-manage {
	display: inline-block;
	width: 32px;
	height: 32px;

	background: url('%%base_path%%/img/music/playlist.svg') no-repeat;
	background-position: -11px -9px;
	background-size: 50px;
}

x-content {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	height: auto;
}

[class*=" bmd-label"], [class^=bmd-label] {
	color: rgba(0, 0, 0, .6) !important;
}