$required_notab_height: 950px;

.container-server-settings-general, .tab-server-settings-general {
	flex-direction: column;

	.container-server-settings-slots {
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		margin-right: 0;
		margin-left: 0;

		.form-group:not(:first-of-type) {
			margin-left: 10px;

			flex-grow: 30;
			flex-shrink: 30;
		}

		.form-group:first-of-type {
			flex-grow: 70;
			flex-shrink: 70;
		}
	}

	.container-name-icon {
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		.container-name {
			flex-grow: 1;
			flex-shrink: 1;
		}

		.container-icon {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	.container-icon {
		width: 30px;

		margin-left: 10px;

		.button-select-icon {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			position: absolute;

			.icon-node {
				cursor: pointer;

				height: 100%;
				width: 100%;

				&:hover {
					background-color: #00000011;
				}

				> div {
					vertical-align: middle;
					text-align: center;
				}
			}
		}
	}
}

.tab-server-settings-general {
	padding: 5px;
	display: none;
}

.container-server-settings-general {
	display: flex;
	flex-shrink: 0;
}

@media (max-height: $required_notab_height) {
	.tab-server-settings-general {
		display: flex;
	}

	.container-server-settings-general {
		display: none;
	}
}

.container-server-settings-host {
	padding: 5px;

	.properties-hostbanner, .properties-hostbutton  {
		.form-row {
			margin-left: 5px;
			margin-right: 5px;

			display: flex;
			flex-direction: row;
			justify-content: stretch;

			> .form-group {
				flex-grow: 1;
				flex-shrink: 1;
			}

			> .form-group:not(:first-of-type) {
				margin-left: 10px;
			}
		}
	}

	.virtualserver_hostbanner_gfx_interval {
		height: calc(2.4375rem + 2px);
	}
}

.container-server-settings-file-transfer, .container-server-settings-anti-flood, .container-server-settings-security {
	padding: 5px;
}

.container-server-settings-misc {
	padding: 5px;

	.container-complains {
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		> div {
			flex-grow: 1;
			flex-shrink: 1;
		}

		> div:not(:first-of-type) {
			padding-left: 10px;
		}
	}
}

.container-server-settings-messages {
	padding: 5px;
}