.channel_perm_tbl .value {
	width: 60px;
}


.group_box {
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	.header {
		flex-grow: 0;
		flex-shrink: 0;
		float: left;
		margin-bottom: 2px;
	}

	.content {
		flex-grow: 1;
		flex-shrink: 1;

		background: rgba(0, 0, 0, .035);
		border: lightgray solid 1px;
		border-radius: 0 2px;
		padding: 6px;
	}
}

/* Channel edit/create modal */
.settings_audio {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 10px;

	.custom {
		display: grid;
		grid-template-columns: min-content auto;
		grid-template-rows: repeat(auto-fill, min-content);
		grid-column-gap: 5px;

		select {
			height: fit-content;
		}

		.quality {
			display: inline-grid;
			grid-template-columns: auto min-content;
			grid-column-gap: 5px;
		}
	}
}

.settings_advanced {
	display: grid;
	grid-template-columns: repeat(auto-fill, max-content);
	grid-template-rows: repeat(auto-fill, max-content);
	grid-gap: 5px;

	> div:first-of-type {
		grid-column: auto / span 2;
	}

	.max_limited {
		width: 100%;
		display: inline-flex;
		input[type="number"] {
			width: 75px;
		}
	}

	.group_box {
		fieldset, fieldset > div {
			width: 100%;
		}
	}
}

.horizontal-stretch {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.container-ban-type {
	margin: 5px;
}

.arrow {
	display: inline-block;
	border: solid black;
	//border-width: 0 3px 3px 0;
	//padding: 3px;
	//height: 10px;

	border-width: 0 .2em .2em 0;
	padding: .21em;
	height: .5em;

	&.right {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	&.left {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}

	&.up {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}

	&.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}

.layout-group-server, .layout-group-channel, .layout-channel, .layout-client, .layout-client-channel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;

	& > div {
		margin: 5px;
	}

	.list-group-server, .list-group-channel, .list-group-server-clients, .list-channel {
		border: grey solid 1px;
		position: relative;
		width: 175px;
		flex-grow: 0;
		min-width: 125px;

		.entries {
			display: table;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			min-width: 100%;
		}
	}

	.list-group-server, .list-group-channel {
		border: grey solid 1px;
		user-select: none;
		overflow: auto;
		position: relative;

		.group {
			display: block;
			white-space: nowrap;
			cursor: pointer;

			.icon, .icon_empty, .icon-container {
				margin-right: 3px;
				margin-left: 3px;
			}

			.name.savedb {
				color: blue;
			}
			.name.default {
				color: black;
				font-weight: bold;
			}

			&.selected {
				background-color: blue;

				.name.savedb {
					color: white;
				}
			}
		}
	}
}

.layout-channel, .layout-client-channel {
	.list-channel {
		display: flex;
		flex-direction: column;

		overflow: auto;

		.channel {
			cursor: pointer;
			display: block;
			width: 100%;
			height: max-content;
			white-space: nowrap;

			.icon, .icon_empty {
				margin-right: 3px;
			}

			&.selected {
				background-color: blue;
			}
		}
	}
}