.modal-about {
	display: flex!important;
	flex-direction: row!important;

	text-align: center;
	color: #999999;

	.container-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.container-right {
		text-align: left;
		padding-left: 2em;

		h1 {
			font-size: 1.5em;
			margin-block-start: 0.35em;
			margin-block-end: 0.35em;
		}

		h2 {
			font-size: 1.25em;
			margin-block-start: 0.10em;
			margin-block-end: 0.10em;
		}

		p {
			margin-block-start: .25em;
			margin-block-end: .25em;
		}
	}

	.version {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		a {
			width: 50%;

			flex-grow: 1;
			flex-shrink: 1;

			text-align: right;
		}
		.value {
			padding-left: .25em;

			text-align: left;

			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}