$channel_tree_entry_selected: #2d2d2d;
$channel_tree_entry_hovered: #393939;

$channel_tree_entry_text_color: #828282;

$border_radius_small: .1em;
$border_radius_middle: .15em;
$border_radius_large: .2em;

$button_hover_animation_time: .25s;

$color_list_border: #161616;
$color_list_background: #28292b;
$color_list_hover: #2c2d2f;
$color_list_selected: #1a1a1b;