html, body {
	border: 0;
	margin: 0;
}

.app-container {
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: stretch;

	.app {
		width: 100%;
		height: 100%;
		margin: 0;

		display: flex; flex-direction: column; resize: both;
	}
}

footer {
	display: none!important;
}