html:root {
    --channel-tree-move-border: #005fa1;
}

.channelEntry {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: stretch;

    width: 100%;
    min-height: 16px;

    align-items: center;
    cursor: pointer;

    .containerArrow {
        width: 1em;
        margin-left: -1em;
        text-align: center;

        flex-shrink: 0;

        &.down {
            align-self: normal;
        }

        > * {
            font-size: .9em;
        }
    }

    .channelType {
        flex-grow: 0;
        flex-shrink: 0;

        margin-right: .1em;;
    }

    .containerChannelName {
        display: flex;
        flex-direction: row;

        flex-grow: 1;
        flex-shrink: 1;

        justify-content: left;

        max-width: 100%; /* important for the repetitive channel name! */
        overflow-x: hidden;

        &.align-left {
            justify-content: flex-start;
        }

        &.align-right {
            justify-content: flex-end;
            padding-right: .25em;
        }

        &.align-center, &.align-repetitive {
            justify-content: center;
        }

        .channelName {
            line-height: 1.2em;
            font-size: .9em;

            align-self: center;
            color: var(--channel-tree-entry-color);

            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.align-repetitive {
            .channelName {
                text-overflow: clip;
            }
        }
    }

    .icons {
        display: flex;
        flex-direction: row;

        padding-right: 5px;

        flex-grow: 0;
        flex-shrink: 0;
    }

    &.moveSelected {
        border-bottom: 1px solid black;
    }

    .showChannelNormalOnly {
        display: none;

        &.channelNormal {
            display: block;
        }
    }

    .icon_no_sound {
        z-index: 0;

        display: flex;
        position: relative;

        .background {
            height: 14px;
            width: 10px;

            background: red;
            position: absolute;

            top: 1px;
            left: 3px;
            z-index: -1;
        }
    }

    &.drag-top {
        &::before {
            content: "";
            position: absolute;

            width: 100%;
            top: -1px;
            left: var(--drag-left-offset, 0);

            border-top: 2px solid var(--channel-tree-move-border);
        }
    }

    &.drag-bottom {
        z-index: 1;

        &::after {
            content: "";
            position: absolute;

            width: 100%;
            bottom: -1px;
            left: var(--drag-left-offset, 0);

            border-bottom: 2px solid var(--channel-tree-move-border);
        }
    }

    &.drag-contain {
        z-index: 1;

        &::before {
            content: "";
            position: absolute;

            top: -1px;
            bottom: -1px;
            left: var(--drag-left-offset, 0);
            right: 0;

            margin-left: -.2em;

            border: 2px solid var(--channel-tree-move-border);
        }
    }
}