html:root {
    --channel-tree-move-color: hsla(220, 5%, 2%, 1);
    --channel-tree-move-background: hsla(0, 0%, 25%, 1);
    --channel-tree-move-border: hsla(220, 4%, 40%, 1);
}

.moveContainer {
    position: absolute;
    display: block;

    border: 2px solid var(--channel-tree-move-border);
    background-color: var(--channel-tree-move-background);

    z-index: 10000;
    margin-left: 5px;

    padding-left: .25em;
    padding-right: .25em;

    border-radius: 2px;
    color: var(--channel-tree-move-color);
}