#Generate the declarations by yourself with /scripts/build_declarations.sh
declarations/*.d.ts

#Ignore the generated mapped files
css/theme/**/*.css
css/theme/**/*.css.map

js/**/*.js
js/**/*.js.map

generated/*