.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    height: 100%;
    width: 100%;

    color: #999!important;

    .navbar {
        flex-shrink: 0;
        flex-grow: 0;

        padding: .5em;
    }
}

.fileTable {
    border: none!important;
    border-radius: 0!important;

    background-color: var(--chat-background)!important;

    .header {
        background-color: var(--chat-background)!important;
    }
}

.fileEntry:hover, .fileEntry.hovered {
    background-color: var(--channel-tree-entry-hovered) !important;
}

.fileEntrySelected {
    background-color: var(--channel-tree-entry-selected) !important;
}

.boxedInput {
    background-color: var(--side-info-background)!important;
    border-color: #212121!important;

    &:focus-within {
        background-color: #242424!important;
    }
}