body{
    padding:0;
    margin:0;
}
.inner {
    position: absolute;
}
.inner-container{
    width:400px;
    height:400px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    overflow:hidden;
}
.box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0,0,0,0.13);
    padding:30px 0px;
    text-align: center;
}
.box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.2);
    color:#fff;
    border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}
.box button {
    background:#742ECC;
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
}
.box button:disabled {
    background:rgba(0,0,0,0.2);
}
.box button:active{
    background:#27ae60;
}
.box p{
    font-size:14px;
    text-align:center;
}
.box p span{
    cursor:pointer;
    color:#666;
}

.box .error {
    color: darkred;
    display: none;
}

#login {
    display: block;
}
#success {
    margin-top: 50px;
    display: none;
}