:global {
    #overlay-no-js, #critical-load {
        z-index: 100000000;
        display: none;
        position: fixed;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: #1e1e1e;
        text-align: center;

        -webkit-app-region: drag;

        h1, h3, a {
            -webkit-app-region: no-drag;
        }

        .container {
            position: relative;
            display: inline-block;

            top: 20%;
        }

        &.shown {
            display: block;
        }
    }

    #critical-load {
        img {
            height: 12em
        }

        .error {
            color: #bd1515;
            margin-bottom: 0
        }

        .detail {
            color: #696363;
            margin-top: .5em
        }
    }


    @media (max-height: 750px) {
        #critical-load .container {
            top: unset;
        }

        #critical-load {
            font-size: .8rem;

            flex-direction: column;
            justify-content: center;
        }

        #critical-load.shown {
            display: flex;
        }
    }
}